[Unit]
Description=Power Manager D-Bus Service
After=network.target

[Service]
Type=dbus
BusName=com.mkps.powermanager
ExecStart=/usr/local/bin/PowerManagerDbus
Restart=on-failure
User=root
PrivateTmp=true

[Install]
Alias=dbus-com.mkps.powermanager.service
